body {
    background-color: #121212;
    color: darkgoldenrod;
    font-family: 'Century Gothic',system-ui;
}



#h2id{
    text-align: center;

}


#pid{
    text-align: center;
}














img:hover {
    color: #444;
    background-color: #444;
    filter: grayscale(70%);

}
p:hover {
    filter: brightness(135%);
}


nav{
    background-color: #121212;
    text-align: center;
}

nav h1:hover{
    filter: brightness(135%);

}

.movie_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.movie_display {
    background-color: #131111;
    border: 2px solid rgb(167, 139, 30);
    margin: 7px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
    width: 270px;
}

#section_1 {
    height: 500px;
}

button {
    background-color: darkgoldenrod;
    border: 3px solid #121212;
    border-radius: 21px;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
    color: 121212;
}

button:hover {
    background-color: #121212;
    border: 3px solid darkgoldenrod;
    border-radius: 21px;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
    color: darkgoldenrod;
}
button:active {
    background-color: rgb(207, 186, 130);
    border: 3px solid #121212;
    border-radius: 21px;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
    color: #121212;
}

#important-old{
    color: red;
}








.movie_display2 {
    background-color: #131111;
    border: 2px solid darkgoldenrod;
    margin: 7px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
    width: 315px;

}

.movie_display2 img{
    width: 280px;
    height: 413px;
}